*.[oa]
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config-h.in
config.h
config.log
config.status
configure
depcomp
icp-raw
install-sh
missing
pcs
stamp-h1
t/t*.log
t/t*.trs
test-driver
test-suite.log
