*.[oa]
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config-h.in
config.h
config.log
config.status
configure
dcon-raw
depcomp
install-sh
lsicpdas
missing
pcs
pcs-net
stamp-h1
t/t1001
t/t2001
t/t2002
t/t2003
t/t2004
t/t2005
t/t2006
t/t2007
t/t2008
t/t2009
t/t2010
t/t2011
t/t2012
t/t2013
t/t2014
t/t2015
t/t2016
t/t2017
t/t2018
t/t*.log
t/t*.trs
test-driver
test-suite.log
