*.o
.*.swp
*~
Makefile.in
Makefile
aclocal.m4
config-h.in
configure
depcomp
install-sh
missing
.deps
.dirstamp
autom4te.cache
config.h
config.log
config.status
stamp-h1

compile
test-driver
test-suite.log
t/*.log
t/*.trs

pcs
test
icp-raw
libpcs.a
lsicpdas
fc-raw

t/test-fuzzy
